[Unit]
Description=LinuxProxyChanger
After=network.target

[Service]
Type=simple

WorkingDirectory=/opt/Proxy_Changer/

User=root
Group=root

Restart=on-success

ExecStart=/usr/bin/screen -DmS LinuxProxyChanger /opt/Proxy_Changer/LinuxProxyChanger

ExecStop=/usr/bin/screen -S LinuxProxyChanger -X quit

[Install]
WantedBy=multi-user.target
